In [1]:
import os

os.makedirs(os.path.join('..', 'data'), exist_ok=True) # exist_ok只有在目录不存在时创建目录，目录已存在时不会抛出异常。
data_file = os.path.join('..', 'data', 'house_tiny.csv')
with open(data_file, 'w') as f:
    f.write('NumRooms,Alley,Price\n')  # 列名
    f.write('NA,Pave,127500\n')  # 每行表示一个数据样本
    f.write('2,NA,106000\n')
    f.write('4,NA,178100\n')
    f.write('NA,NA,140000\n')

In [2]:
# 使用pandas读取数据:
import pandas as pd

data = pd.read_csv(data_file)
data # DataFrame输出默认以html进行输出.

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN  140000